.backups

.vscode
data-resources/
.env
setup.sh
setup.sh.bk

infra/tf/.terraform/**
infra/tf/.terraform.lock.hcl
infra/tf/terraform.tfstate
infra/tf/terraform.tfstate.backup
infra/tf/terraform.tfvars
infra/tf/terraform.tfvars.sample
infra/tf/local-tf-commands.txt

k8s/event-ingest.yaml
k8s/genai-llm-vertex.yaml
k8s/genai-stable-diffusion.yaml
k8s/ml-serving-churn.yaml
k8s/ml-serving-spend.yaml
k8s/tcp-load.yaml

services/tcp_load/.venv
services/tcp_load/.venv/**

ml_training/player_churn/custom_ml_training_job_trigger/.venv
ml_training/player_churn/custom_ml_training_job_trigger/.venv/**

ml_training/player_churn/cloudrun_run_dataform/venv
ml_training/player_churn/cloudrun_run_dataform/venv/**

ml_training/predict_spend/venv
ml_training/predict_spend/venv/**
ml_training/predict_spend/.venv
ml_training/predict_spend/.venv/**
ml_training/predict_spend/spend_pipeline.yaml